footer{
    position: absolute;
    bottom: 0px; 
    height: 50px;  
    margin: 0;
    border: 0;
}

body{
    width: 75%;      
}

#melding{
    margin: 5px;
    border: 2px solid black;
    height: 2em;
    text-align: center;    
    width: auto;
    margin-top: 50px;
}